.video-view-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 80%;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.8);
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.close:hover {
  background-color: rgba(255, 0, 0, 1);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
